@model PsychologyTest.ViewModels.RootEditUserViewModel
@{
    ViewBag.Title = "Editar usuario";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section UserActions{
    <ul class="nav navbar-nav">
        <li class="active"><a asp-area="" asp-controller="Root" asp-action="UsersManage">Usuarios</a> </li>
        <li><a asp-area="" asp-controller="Admin" asp-action="InstitutionsManage">Instituciones</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="GroupsManage">Grupos</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="TestManage">Test</a></li>
    </ul>
}

<form class="form-horizontal" method="post" novalidate>
    <div asp-validation-summary="ModelOnly"></div>

    <h2>Editar cuenta</h2>

    <div class="form-group">
        <label asp-for="Nombres" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Nombres" class="form-control" type="text" value="@Model.Nombres" con autocomplete="off">
            <span asp-validation-for="Nombres"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Apellidos" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Apellidos" class="form-control" type="text" value="@Model.Apellidos" autocomplete="off">
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Email" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Email" value="@Model.Email" readonly class="form-control" type="text">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TipoDocId" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <select asp-for="TipoDocId" id="selectDocId" class="form-control">
                <option value=""></option>
                <option value="Cedula">Cedula</option>
                <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                <option value="Registro Civil">Registro Civil</option>
                <option value="Cedula extranjera">Cedula extranjera</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
            <span asp-validation-for="TipoDocId"></span>
            <script>
                var sel = document.getElementById('selectDocId');
                var options = sel.options;
                for (var i=0; options.length; i++) {
                    if (@Model.TipoDocId === options[i].value)
                        sel.selectedIndex = i;
                }
            </script>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DocId" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="DocId" class="form-control" value="@Model.DocId" type="text" autocomplete="off">
            <span asp-validation-for="DocId"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" type="text" autocomplete="off">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Direccion" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Direccion" class="form-control" value="@Model.Direccion" type="text" autocomplete="off">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Genero" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <select asp-for="Genero" class="form-control" id="selectGenero">
                <option value=""></option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
            <span asp-validation-for="Genero"></span>
            <script>
                var sel = document.getElementById('selectGenero');
                var options = sel.options;
                for (var i=0; options.length; i++) {
                    if (@Model.Genero === options[i].value)
                        sel.selectedIndex = i;
                }
            </script>
        </div>
    </div>

    @if (Model.RolSolicitado == "Estudiante") {
        //Institucion y grupo
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input class="form-control" value="" type="text" />
            </div>
        </div>
    }

    <div class="form-group">
        <label asp-for="RolSolicitado" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <select asp-for="RolSolicitado" id="selectRol" class="form-control">
                <option value=""></option>
                <option value="Estudiante">Estudiante</option>
                <option value="Psicologo">Psicologo</option>
                <option value="Administrador">Administrador</option>
                <option value="Root">Root</option>
            </select>
            <span asp-validation-for="RolSolicitado"></span>
            <script>
                var sel = document.getElementById('selectRol');
                var options = sel.options;
                for (var i=0; options.length; i++) {
                    if (@Model.RolSolicitado === options[i].value)
                        sel.selectedIndex = i;
                }
            </script>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button asp-controller="Root" asp-action="UsersManage" type="submit" class="btn btn-default">Volver</button>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>
</form>